:root {
    --cor-background: #16357a;
    --cor-background-card: #204286;
    --cor-texto: #fefefe;
    --cor-sombra: rgba(0, 0, 0, 0.2);
  }
  
  * {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
  }

  html, body{
    background-color: var(--cor-background);
    position: relative;
  }

  .bg_textos{
    height: 100vh;
    position: relative;
    overflow: hidden; /* não deixa ter rolagem */
  }

  .textos_background::after{
    content: ''; /* vazio */
    position: absolute;
    margin: auto;
    font-size: 20rem;
  }

  .textos_background.tb-1::after{
    content: "dicionário";
  }

  .textos_background.tb-2::after{
    content: "@kaiocesare";
  }

  .textos_background.tb-1::after{
    content: "online";
  }

  /*  */