:root {
    --cor-background: #16357a;
    --cor-background-card: #204286;
    --cor-texto: #fefefe;
    --cor-sombra: rgba(0, 0, 0, 0.2);
  }
  
  * {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
  }

  html, body{
    background-color: var(--cor-background);
    position: relative;
  }

  .bg_textos{
    height: 100vh;
    position: relative;
    overflow: hidden; /* não deixa ter rolagem */
  }

  .textos_background::after{
    content: ''; /* vazio */
    position: absolute;
    margin: auto;
    font-size: 12.3rem;
    color: var(--cor-texto);
    font-weight: 900;
    opacity: 0.07;
  }

  .textos_background.tb-1::after{
    content: "dicionário";
    top: 0;
    transform: translate(40%, -40%);   /* primeiro valor = x, movimenta o elemento horizontalmente, o segundo = y, movimenta de forma vertical  */
}

  .textos_background.tb-2::after{
    content: "@kaiocesare";
    top: 10px;
    bottom: 0;
    transform: translate(3%, 47%);   
    font-size: 9rem;
  }

  .textos_background.tb-3::after{
    content: "online";
    bottom: 0;
    transform: translate(30%, 25%);   
  }

  /*  */